$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
// 灰色的字体
$grayFont:#b1a8a8;

//sidebar //左侧边栏菜单的颜色
$menuBg:#304156;
$subMenuBg:#1f2d3d;
// $menuHover:#001528;
$menuHover:rgba(78, 84, 101, 1);
// $menuHover:#c0be45fc;
// $menuHover:#2a3542;
// 字体大小
$smallFs: 12px;
